* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
  justify-content: space-between;
}
.mb-0 {
  margin-bottom: 0;
}
.px-5 {
  padding: 0px 262px;
}
.text-center {
  text-align: center;
}
.pr-5 {
  padding-right: 90px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
  margin-bottom: 33px;
}
.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 33px;
}
.primary_button {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background: #ff900e;
  color: #ffffff;
  width: 180px;
  border: none;
  outline: none;
  padding: 20px 25px;
  margin-bottom: 50px;
  border-radius: 8px;
}
/* Header */
header {
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 80px;
}
.logo {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #131313;
}
.link {
  margin: 0px 26px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #424242;
}
.link > a {
  color: #424242;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.nav_links {
  display: flex;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_content {
  margin: 0 auto;
}
.banner_img {
  overflow: hidden;
  margin-bottom: 45px;
}
/* header done */

/* Main */
main {
  background-color: #ffffff;
}

.Quick_list {
  display: flex;
  margin-bottom: 130px;
}
.quick_list_images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.quick_list_content {
  align-self: center;
  margin-left: 73px;
}
.ash {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #727272;
}
.black {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.orange {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #ff900e;
}

/* features */

.features {
  display: flex;
  justify-content: center;
  gap: 54px;
  margin-bottom: 120px;
}
.features_title {
  font-weight: 700;
  font-size: 45px;
  padding-right: 200px;
  padding-left: 20px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 23px;
  position: relative;
}
.features_title::after {
  content: "";
  height: 100%;
  width: 5px;
  background-color: #ff900e;
  position: absolute;
  top: 0;
  left: 0;
}
.features_list {
  margin-top: 30px;
}
.feature {
  padding: 30px 120px 30px 30px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform .2s ease-in-out;
}
.feature:hover{
    transform: scale(1.1);
}
.feature_title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-top: 10px;
}
.feature_desc{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.features_img {
  position: relative;
}
.exp_button {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background: #ff900e;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 45px 42px;
  margin-bottom: 50px;
  border-radius: 8px;
  position: absolute;
  bottom: -50px;
  left: -50px;
  transition: all .4s ease-in;
}
.experienc_card:hover >.exp_button{
 background-color: red;
}
.card_exp {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}
/* some fact */
.fact_content {
  width: 40%;
}
.fact_title {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.fact_desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 100px;
}
.fact_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  animation: fly 2s ease-in-out;
}
.card {
  padding: 45px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 241.83px;
  height: 241.83px;
  position: relative;
}
@keyframes fly{
 0%{
    transform: translateX(-100%);
 }100%{
    transform: translateX(0px);

 }
}
.card::after{
    content: '';
    width:0%;
    height: 100%;
    position: absolute;
    right: 0;
    background: #424242;
    opacity: 0.3;
    transition: all .4s ease;
}
.card:hover::after{
    width: 100%;
}
.card img {
  width: 45px;
}
.count {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
}


/* form */
.contactHeading {
    text-align: center;
    padding: 20px 0px;
}
#contactId >input{
    border: 1px solid #ff900e;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0px;

}

.contactForm {
    margin-bottom: 20px;
    margin: auto;
    padding: 50px 50px;

}

#contactId {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    padding: 50px 50px;
    border-color: #ff900e;
    margin-bottom: 120px;
    border-radius: 20px;
}
.sponsor_title{
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
text-align: center;
}

.sponsor_desc{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
width: 50%;
margin: 0 auto;
padding: 0px 80px;

}
.sponsor_card{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 141px;
    position: relative;
}
.sponsor_card> img{
    position:relative;
    filter: grayscale(100%);   /* according to JM bhai*/
}

/* footer */
footer{
    background-color: #cec7be;
}
.footer_desc{
    text-align: center;
    padding: 38px 0px;
    margin-bottom: 50px;
}

/* Media query */

@media screen and (max-width:576px) {
    img{
        max-width: 100%;
    }
    .logo{
        margin-bottom: 20px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    nav{
        flex-direction: column;
    }
    .banner_content{
        justify-content: center;
        margin: 0;
    }
    .desc{
        padding: 0px!important;
    }
    .title{
        padding: 0;

    }
    .Quick_list{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .features{
        flex-direction: column;
    }
    .features_title{
        padding: 20px;
    }
    .exp_button{
        left: 100px;
        bottom: -100px;
    }
    .fact_content{
        width: 100%;
    }
    .fact_cards{
        gap: 8px;
    }
    .sponsor_card > img{
        width: 80px;
    }
    .sponsor_desc{
        padding: 0;
        margin-top: 30px;
        width: 100%;
    }
    footer{
        border-radius: 10px;
    }

    .footer_desc{
        padding: 20px 20px;
    }
}
@media screen and (max-width:486px){
    .card{
        width: 100%;
    }
}